[publicinbox]
	grokmanifest = all
	wwwListing = all
	; Depending on the browser, the first entry is the default.
	; So having "/dev/null" at the top means no colors by default.
	; Using the "title" attribute enables `View -> "Page Style"'
	; choices in Firefox.
	css = /dev/null title=default

	; git-config supports backslash to continue long lines
	; Attributes ('media', 'title') must use single quotes(')
	; or no quotes at all, but not double-quotes, as git-config(1)
	; won't preserve them:
	css = /static/css/216dark.css \
		title=216dark \
		media='screen,(prefers-color-scheme:dark)'

	; for tree haters who print web pages :P
	css = /static/css/216light.css \
		title=216light \
		media='screen,print,(prefers-color-scheme:light)'

	; external CSS may be specified with href.
	; Using "//" (protocol-relative) URLs is allowed, as is
	; "https://" or "http://" for hosts which only support one protocol.
	css = href=//example.com/fugly.css title=external

[extindex "all"]
	topdir = /data/all
	url = https://lore.kernel.ime.usp.br/

[publicinbox "kernel.ime"]
	address = kernel-owner@lists.ime.usp.br
	url = https://lore.kernel.ime.usp.br/kernel.ime/
	inboxdir = /data/kernel.ime/
	watch = "imaps://user@email:pass@imap:993/INBOX"

[publicinboxwatch]
	spamcheck = spamc
